@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  --background-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 240, 240, 240;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

header {
  background: rgb(220, 220, 220);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: x-large;
  font-weight: 700;
}

h2 {
  font-size: large;
  font-weight: 600;
}

table tbody tr td {
  padding-inline: 2em;
  padding-block: 2em;
}
